/*  your css code here. If applicable */
.container{
	width:400px;
   height:200px;
	background-color:#D3D3D4;
	border:3px solid black;
	border-radius:20px;
	display:flex;
}
.green{
	width:90px;
	height:110px;
	background-color:rgb(0, 128, 0);
	margin:40px 10px;
	border-radius:70%;
}
.yellow{
	width:90px;
	height:110px;
	background-color:rgb(255,255,0);
	margin:40px 10px;
	border-radius:70%;
}
.red{
		width:90px;
	height:110px;
	background-color:rgb(255,0,0);
	margin:40px 10px;
	border-radius:70%;
}
}